.vs/
packages/
TCalcCore/obj/
TourCalcWebApp/bin/
TourCalcWebApp/obj/
TCalcCore/bin/
TourCalcWebApp/node_modules/
TourCalcWebApp/wwwroot/assets/
**/*.pubxml
**/*.user
ConsoleTest/bin/
ConsoleTest/obj/

TourCalcBlazor/obj/
TourCalcBlazor/bin/
