@page "/goto/{transientAccessCode}/{tid}"

@using TCalcCore.Engine
@inject TourcalcEngine engine

@inject NavigationManager NavManager


<h3>Redirecting...</h3>

@code {
    [Parameter]
    public string? transientAccessCode {get; set;}
    [Parameter]
    public string? tid {get; set;}
    protected override async Task OnInitializedAsync()
    {
        await engine.PickUpAuthInfo();
        var auth = engine.Auth;
        var codes = auth?.AccessCodeMD5s() ?? new string[0];
        var effectiveCode = string.Join(auth.AuthTokensDelim(), codes.Concat(new[] { transientAccessCode }).Where(s => !string.IsNullOrWhiteSpace(s)).Distinct());
        await engine.LogIn("code", effectiveCode, md5Code: true);
        // now try to get a tour
        Tour tt = await engine.LoadFromServerAndReturnBareTour(tid);
        bool finalizing = false;
        if (tt == null)
        {
            await engine.LogIn("code", transientAccessCode, md5Code: false);
            tt = await engine.LoadFromServerAndReturnBareTour(tid);
        } 
        finalizing = tt?.IsFinalizing ?? false;
        await engine.PickUpAuthInfo();
        var settings = await engine.GetUISettings();

        var spAddPage = $"/tour/{tid}/spending/add/";
        var mainTourPage = $"/tour/{tid}";

        var url = settings.Default_Tour_Page_Is_Add_Spending ? spAddPage : mainTourPage;
        if (finalizing)
        {
            url = mainTourPage;
        }
        await engine.RequestClearLocalTourList(reloadFromServer: false);
        NavManager.NavigateTo(url);
    }
}
