@page "/goto/{transientAccessCode}/{tid}"

@using TCalcCore.Engine
@inject TourcalcEngine engine

@inject NavigationManager NavManager


<h3>Redirecting...</h3>

@code {
    [Parameter]
    public string? transientAccessCode {get; set;}
    [Parameter]
    public string? tid {get; set;}
    protected override async Task OnInitializedAsync()
    {
        await engine.LogIn("code", transientAccessCode, md5Code: true);
        // now try to get a tour
        var tt = await engine.LoadFromServerAndReturnBareTour(tid);
        if (tt == null)
        {
            await engine.LogIn("code", transientAccessCode, md5Code: false);
        }
        await engine.PickUpAuthInfo();
        var settings = await engine.GetUISettings();
        var url = settings.Default_Tour_Page_Is_Add_Spending ? $"/tour/{tid}/spending/add/" : $"/tour/{tid}";
        await engine.RequestClearLocalTourList(reloadFromServer: false);
        NavManager.NavigateTo(url);
    }
}
