@page "/goto/{transientAccessCode}/{tid}"
@inject AuthSvc auth

@using TCBlazor.Client.Storage

@inject TCDataService dataSvc

@inject NavigationManager NavManager


<h3>Redirecting...</h3>

@code {
    [Parameter]
    public string? transientAccessCode {get; set;}
    [Parameter]
    public string? tid {get; set;}
    protected override async Task OnInitializedAsync()
    {
        //await dataSvc.GetAndStoreToken("code", transientAccessCode);
        await auth.LogIn("code", transientAccessCode);
        // now try to get a tour
        var tt = await dataSvc.LoadTourBare(tid);
        if (tt == null)
        {
            await dataSvc.GetAndStoreTokenForCodeMd5(transientAccessCode);
            await auth.PickUpAuthInfo();
        }
        NavManager.NavigateTo($"/tour/{tid}");
    }
}
