@using TCBlazor.Client.Storage
@using TCalcCore.Auth
@inherits LayoutComponentBase
@inject HttpClient Http


<div class="page">
@if (authData == null)
{
        <span>Checking auth...</span>
    }
    else
    {
        @if (authData.Type == "None")
        {
        <span>Not authorized</span>
            
        } 
        else
        {
            <div class="sidebar">
            <NavMenu />
            </div>

            <main>
                <article class="content px-4">
                    @Body
                </article>
            </main>
            
        }
        
}
</div>
@code {
    private AuthData? authData = null;

    protected override async Task OnInitializedAsync()
    {
        var auth = $"Bearer {TourcalcLocalStorage.AuthToken}";
        var request = new HttpRequestMessage(HttpMethod.Get,
            "/api/auth/whoami");
        request.Headers.Add("Authorization", auth);
        var resp = await Http.SendAsync(request);
        if (resp.IsSuccessStatusCode)
        {
            authData = await resp.Content.ReadFromJsonAsync<AuthData>();
        }
    }

}
