@using TCBlazor.Client.Storage
@using TCBlazor.Client.Utils
@using TCalcCore.Auth
@using AntDesign

@inherits LayoutComponentBase

@inject IJSRuntime JS
@inject TCBlazor.Client.Storage.TourcalcLocalStorage ts
@inject TCDataService dataSvc
@inject AuthSvc auth
@inject TCGlobal tcGlobal
@inject NavigationManager NavManager


<div class="page">
@if (auth.Auth == null)
{ 
//        <AntDesign.Modal
//                Visible=@true
//                Title="Check Auth"
//                Footer=@dummyFooter
//                >
                <div style="text-align:center">Checking auth</div>
//        </AntDesign.Modal>
    }
    else
    {

        if (!LoggingIn)
        {
            @if (auth.Auth.Type == "None")
            {
                <AntDesign.Modal
                Visible=@true
                Title="Log In"
                Footer=@dummyFooter
                >
                <span><input type="text" @bind-value="code" @onkeyup=@(async (e) => {
                    if (e.Code == "Enter" || e.Code == "NumpadEnter"){
                        //await JS.InvokeVoidAsync("alert", $"code: {code}");
                        await LogIn();
                    }
                })/>
                    <button @onclick="LogIn">Auth</button>
                </span>
                </AntDesign.Modal>
            }
            else
            {
                <Layout>
                    <Header Style="background-color: darkblue; color: white; padding: 4px; display: table;">
                        <div style="display: table-cell; align-content: flex-start; width: 65%; text-align: start;">
                            <a class="navbar-brand" style="margin: 3px; padding: 5px;" href="">
                                <span class="oi oi-home" aria-hidden="true"></span>
                            </a>&nbsp;&nbsp;
                            <span style="color:white; font-size: clamp(6px, 4vw, 18px);">
                                @(tcGlobal.Title.Length > 2000 ? $"{tcGlobal.Title.Substring(0, 17)}..." : tcGlobal.Title)
                            </span>&nbsp;&nbsp;
                        </div>
                        <div style="display: table-cell; align-content: flex-end; width: 35%; text-align: end;">
                            <span><TCBlazor.Client.Pages.SyncStatusComponent/></span>
                            <span style="cursor:pointer; font-size: clamp(6px, 4vw, 18px); border:1px solid white" @onclick=@(async () => {
                                await LogOut();
                                NavManager.NavigateTo("/");
                            })>Log Out@($"{(auth.Auth.IsMaster ? " Admin" : "")}")</span>
                            &nbsp;&nbsp;
                            <a class="navbar-brand" style="margin: 3px; padding: 5px;" href="/settings">⚙</a>
                        </div>
                    </Header>
                    <Content Style="padding: 4px">@Body</Content>
                </Layout>
            }

        } 
        else
        {
            <AntDesign.Modal
                Visible=@true
                Title="Logging In"
                Footer=@dummyFooter
                >
                <div style="text-align:center">Logging In...</div>
                </AntDesign.Modal>
        }

}
</div>
<AntContainer/>
@code {
    private string? code;

    private bool LoggingIn = false;

    protected override async Task OnInitializedAsync()
    {
        await auth.PickUpAuthInfo();
        tcGlobal.OnChange += OnTitleChange;
    }
    private void OnTitleChange()
    {
        StateHasChanged();
    }
    private async Task LogOut()
    {
        await auth.LogOut();
    }
    private async Task LogIn()
    {
        LoggingIn = true;
        try {
            var scope = "code"; // "admin"
            var c = code;
            var scC = (code ?? "").Split(':');
            if (scC.Length > 1)
            {
                scope = scC[0];
                c = scC[1];
            }
            await auth.LogIn(scope, c);
        } 
        catch
        {
            // TODO handle
        }
        LoggingIn = false;
    }
    RenderFragment dummyFooter =
    @<span></span>
    ;
}
