@using TCBlazor.Client.Storage
@using TCBlazor.Client.Utils
@using TCalcCore.Auth
@using AntDesign

@inherits LayoutComponentBase

@inject IJSRuntime JS
@inject TCBlazor.Client.Storage.TourcalcLocalStorage ts
@inject TCDataService dataSvc
@inject AuthSvc auth


<div class="page">
@if (auth.Auth == null)
{ 
        <AntDesign.Modal
                Visible=@true
                Title="Check Auth"
                Footer=@dummyFooter
                >
                <div style="text-align:center">Checking auth</div>
                </AntDesign.Modal>
}
    else
    {
        if (!LoggingIn)
        {
            @if (auth.Auth.Type == "None")
            {
                <AntDesign.Modal
                Visible=@true
                Title="Log In"
                Footer=@dummyFooter
                >
                <span><input type="text" @bind-value="code" @onkeyup=@(async (e) => {
                    if (e.Code == "Enter" || e.Code == "NumpadEnter"){
                        //await JS.InvokeVoidAsync("alert", $"code: {code}");
                        await LogIn();
                    }
                })/>
                    <button @onclick="LogIn">Auth</button>
                </span>
                </AntDesign.Modal>
            }
            else
            {
                <div class="sidebar">
                    
                    <NavMenu>
                        <LogoutButton>
                            <span style="cursor:pointer;" @onclick=@(() => LogOut())>Log Out @($"{(auth.Auth.IsMaster ? "Admin" : "User")}")</span>
                        </LogoutButton>
                    </NavMenu>
                </div>

                <main>
                    <article class="content px-4">
                        @Body
                    </article>
                </main>
            }

        } 
        else
        {
            <AntDesign.Modal
                Visible=@true
                Title="Logging In"
                Footer=@dummyFooter
                >
                <div style="text-align:center">Logging In...</div>
                </AntDesign.Modal>
        }

}
</div>
<AntContainer/>
@code {
    private string? code;

    private bool LoggingIn = false;

    protected override async Task OnInitializedAsync()
    {
        if (auth.Auth == null)
        {
            await auth.PickUpAuthInfo();
        }
    }
    private async Task LogOut()
    {
        await auth.LogOut();
    }
    private async Task LogIn()
    {
        LoggingIn = true;
        try {
            var scope = "code"; // "admin"
            var c = code;
            var scC = (code ?? "").Split(':');
            if (scC.Length > 1)
            {
                scope = scC[0];
                c = scC[1];
            }
            await auth.LogIn(scope, c);
        } 
        catch
        {
            // TODO handle
        }
        LoggingIn = false;
    }
    RenderFragment dummyFooter =
    @<span></span>
    ;
}
