@using TCBlazor.Client.Storage
@using TCBlazor.Client.Utils
@using TCalcCore.Auth
@using AntDesign

@inherits LayoutComponentBase
@inject HttpClient Http
@inject IJSRuntime JS
@inject TCBlazor.Client.Storage.TourcalcLocalStorage ts


<div class="page">
@if (authData == null)
{ 
        <AntDesign.Modal
                Visible=@true
                Title="Check Auth"
                Footer=@dummyFooter
                >
                <div style="text-align:center">Checking auth</div>
                </AntDesign.Modal>
}
    else
    {
        if (!LoggingIn)
        {
            @if (authData.Type == "None")
            {
                <AntDesign.Modal
                Visible=@true
                Title="Log In"
                Footer=@dummyFooter
                >
                <span><input type="text" @bind-value="code" />
                    <button @onclick="LogIn">Auth</button>
                </span>
                </AntDesign.Modal>
            }
            else
            {
                <div class="sidebar">
                    <NavMenu />
                    <div style="color:white;cursor:pointer;" @onclick=@(() => LogOut())>Log Out</div>
                </div>

                <main>
                    <article class="content px-4">
                        @Body
                    </article>
                </main>
            }

        } 
        else
        {
            <AntDesign.Modal
                Visible=@true
                Title="Logging In"
                Footer=@dummyFooter
                >
                <div style="text-align:center">Logging In...</div>
                </AntDesign.Modal>
        }

}
</div>
@code {
    private AuthData? authData = null;
    private string? code;

    private bool LoggingIn = false;

    protected override async Task OnInitializedAsync()
    {
        await RetrieveAuthData();
    }
    private async Task LogOut()
    {
        await ts.SetToken("");
        await RetrieveAuthData();
    }
    private async Task RetrieveAuthData()
    {
        //await Task.Delay(40000);
        var token = await ts.GetToken();
        authData = await Http.CallWithAuthToken<AuthData?>("/api/Auth/whoami", token);
    }
    private async Task LogIn()
    {
        LoggingIn = true;
        try {
            var scope = "code"; // "admin"
            var c = code;
            var scC = (code ?? "").Split(':');
            if (scC.Length > 1)
            {
                scope = scC[0];
                c = scC[1];
            }
            var url = "/api/Auth/token/" + scope + "/" + c;
            var token = await Http.GetStringAsync(url);
            await ts.SetToken(token);
            await ts.Set("aCode", code);
            await RetrieveAuthData();
        } 
        catch
        {
            // TODO handle
        }
        LoggingIn = false;
    }
    RenderFragment dummyFooter =
    @<span></span>
    ;
}
