@using TCBlazor.Client.Storage
@using TCBlazor.Client.Utils
@using TCalcCore.Auth
@inherits LayoutComponentBase
@inject HttpClient Http
@inject IJSRuntime JS
@inject TCBlazor.Client.Storage.TourcalcLocalStorage ts

<div class="page">
@if (authData == null)
{ // TODO beautify
        <span>Checking auth...</span>
    }
    else
    {
        if (!LoggingIn)
        {
            @if (authData.Type == "None")
            {
                <span><input type="text" @bind-value="code" />
                    <button @onclick="LogIn">Auth</button>

                </span>
            }
            else
            {
                <div class="sidebar">
                    M: @authData.IsMaster
                    <NavMenu />
                </div>

                <main>
                    <article class="content px-4">
                        @Body
                    </article>
                </main>
            }

        } 
        else
        {
            <span>Logging In ...</span>
        }

}
</div>
@code {
    private AuthData? authData = null;
    private string? code;

    private bool LoggingIn = false;

    protected override async Task OnInitializedAsync()
    {
        await RetrieveAuthData();
    }
    private async Task RetrieveAuthData()
    {
        var token = await ts.GetToken();
        authData = await Http.GetFromJsonWithAuthToken<AuthData?>("/api/Auth/whoami", token);
    }
    private async Task LogIn()
    {
        LoggingIn = true;
        var scope = "code"; // "admin"
        var scC = (code ?? "").Split(':');
        if (scC.Length > 1)
        {
            scope = scC[0];
            code = scC[1];
        }
        var url = "/api/Auth/token/" + scope + "/" + code;
        var token = await Http.GetStringAsync(url);
        await ts.SetToken(token);
        await RetrieveAuthData();
        LoggingIn = false;
    }
    
}
