@page "/"
@inject NavigationManager NavManager

<h1>Home</h1>

<p>Redirecting to Tour List</p>

@code {
    protected override void OnInitialized()
    {
        NavManager.NavigateTo("/tourlist");
    }
}