@typeparam TItem
@using System.Diagnostics.CodeAnalysis

<table class="table">

    <thead style="position: sticky; top: @(TopPadding)px; background-color: white;">
        <tr>@TableHeader</tr>
    </thead>
    <tbody style="font-size: small">
        @foreach (var item in Items)
        {
            idx++;
            if (RowTemplate is not null)
            {
                <tr style=@(ConditionalRowStyle(item, idx))>@RowTemplate(item)</tr>
            }
        }
    </tbody>
</table>

@code {
    [Parameter]
    public RenderFragment? TableHeader { get; set; }

    [Parameter]
    public RenderFragment<TItem>? RowTemplate { get; set; }

    [Parameter, AllowNull]
    public IEnumerable<TItem> Items { get; set; }

    [Parameter]
    public int TopPadding { get; set; } = 0;

    [Parameter]
    public Func<TItem, int, string> ConditionalRowStyle { get; set; } = (i, idx) => "";

    private int idx = 0;
}