.cool-header {
    color: #880000;
    background-color: #ffecb3;
    font-weight: bold;
    font-size: clamp(6px, 2.4vw, 25px);
    letter-spacing: .05em;
    text-shadow: 2px 2px 0px #d5d5d5, 2px 2px 0px rgba(0, 0, 0, 0.2);
}
