@using TCalc.Domain
<TableTemplate Items=@(Tour?.Spendings ?? new List<Spending>()) Context="spending" TopPadding="30">
    <TableHeader>
        <th>Spending Description</th>
        <th>From</th>
        <th>Amount</th>
        <th>Recepients</th>
    </TableHeader>
    <RowTemplate>
        <td>@spending.Description</td>
        <td>@((Tour?.Persons ?? new List<Person>()).Where(p => p.GUID == spending.FromGuid).FirstOrDefault()?.Name)</td>
        <td>@spending.AmountInCents</td>
        <td>@if (spending.ToAll)
            {
                <span>All</span>
            }    
            else 
            {
                <span>
                    @(
                        string.Join(",",
                            spending
                            .ToGuid
                            .Select(g => (Tour?.Persons ?? new List<Person>())
                                    .Where(p => p.GUID == g)
                                    .FirstOrDefault()?.Name)
                             )
                     )
                 </span>
            }
                </td>
    </RowTemplate>
</TableTemplate>

@code {
    [Parameter]
    public Tour? Tour { get; set; } = null;
}
