@page "/tourlist"

@using TCalcCore.Auth
@using TCalcCore.Storage
@using TCalcCore.Network
@using TCalcCore.UI
@using System.Text.Encodings.Web;
@using System.Text.Json;
@using System.Text.Unicode;


@inject ITourcalcLocalStorage ts
@inject IJSRuntime JsRuntime
@inject TCGlobal tcGlobal
@inject TCDataService dataSvc
@inject AuthSvc auth

@if (tours == null)
{
    <h3>Tour List</h3>
    <span>Tours loading...</span>
}
else
{
    <h3>Tour List</h3>

    <TableTemplate Items=@GetTours() Context="tourItem" TopPadding="30">
    <TableHeader>
        <th>Tour Name
            @if (AddingTour)
        {
            <span style="cursor:pointer;" @onclick=@(() => AddingTour = false)><b>X</b></span>
            <input type="text" placeholder="New Tour Name" @bind-value=@NewTourName/>
                @if (auth.Auth?.IsMaster ?? false)
                    {
                        <span>c: <input type="text" placeholder="code" size="3" @bind-value=@NewTourCode/></span>
                    }
                <span style="cursor:pointer;color:white;background-color:blue;border:1px solid black" @onclick=@(() => AddNewTour())>add</span>
            
        }
        else
        {
            <span style="cursor:pointer;border:solid thin" @onclick=@(() => AddingTour = true)>+</span>            
        }</th>
        <th>Fin</th>
        <th>Arch <input type="checkbox" @bind-value=@ShowArchived/></th>
        <th>Del</th>
    </TableHeader>
    <RowTemplate>
        @{
            var tour = tourItem.Item1;
        }
        <td>
                @if (!(tour.Metadata == "Editing"))
                {
                    <NavLink href=@($"tour/{tour.Id}")>@((MarkupString)tour.Name.AsBreakable())</NavLink> 
                    
                } else
                {
                    <span><input type="text" @bind-value=@tour.Name @onfocusout=@(() => ChangeTourName(tour))/>
                        <span style="cursor:pointer;color:white;background-color:blue;border:1px solid black">save</span>
                        </span>
                }
            <div style="font-size: xx-small">[@tour.DateCreated.ToString("dd.MM.yyyy HH:mm")] 
            <span  style="cursor:pointer; border:solid 1px black" @onclick=@(() => tour.Metadata = (tour.Metadata == "Editing" ? "--" : "Editing"))>edit</span>
                &nbsp;&nbsp; <a href=@($"/goto/{tour.AccessCodeMD5}/{tour.Id}")>link</a> | &nbsp;&nbsp;
                @if (auth.Auth?.IsMaster ?? false)
                    {
                        <span>c: <input type="text" placeholder="code" size="3" @bind-value=@NewTourCode/></span>
                    }
                <span style="cursor:pointer; border:solid 1px black" @onclick=@(() => CloneTour(tour))>clone</span>
                |
                <span style="cursor:pointer; border:solid 1px black" @onclick=@(() => CopyTourJsonToCb(tour))>JSON</span>
            </div>
        </td>
        <td><input @key=@($"fin_{tour.Id}") type="checkbox" 
            checked=@tour.IsFinalizing 
            @onclick=@(() => OnFinChange(tour))
            />
        </td>
        <td><input @key=@($"arch_{tour.Id}") type="checkbox" 
            checked=@tour.IsArchived 
            @onclick=@(() => OnArchChange(tour))
            /></td>
        <td><span style="border:dashed; cursor:pointer;" @onclick=@(() => OnDelete(tour))>X</span></td>
    </RowTemplate>
</TableTemplate>
}

@code {
    private TCalc.Domain.TourList? tours = null;
    private bool ShowArchived = false;
    private bool AddingTour = false;
    private string NewTourName = "";
    private string NewTourCode = "باخوس";


    private async Task AddNewTour()
    {
        if (!string.IsNullOrWhiteSpace(NewTourName) && !string.IsNullOrWhiteSpace(NewTourCode))
        {
            await dataSvc.AddTour(new Tour() { Name = NewTourName }, NewTourCode);
            await LoadTours();
            AddingTour = false;
            NewTourName = "";
        } else
        {
            await JsRuntime.InvokeVoidAsync("alert", $"Please specify tour name {((auth?.Auth?.IsMaster ?? false) ? "and code" : "")}");
        }
    }

    private async Task CloneTour(Tour t)
    {
        var cloned = t.SafeClone<Tour>();
        cloned.Name = $"clone of {t.Name}";
        await dataSvc.AddTour(cloned, NewTourCode);
        await LoadTours();

    }
    private async Task CopyTourJsonToCb(Tour t)
    {
        var text = JsonSerializer.Serialize(t, new JsonSerializerOptions()
        {
            WriteIndented = true, 
            Encoder = System.Text.Encodings.Web.JavaScriptEncoder.UnsafeRelaxedJsonEscaping,
        });
        await JsRuntime.InvokeVoidAsync("clipboardCopy.copyText", text);
    }

    private async Task ChangeTourName(Tour tour)
    {
        await dataSvc.EditTourProps(tour, "changename");
        await LoadTours();        
    }

    private async Task OnFinChange(Tour tour)
    {
        tour.IsFinalizing = !tour.IsFinalizing;
        await dataSvc.EditTourProps(tour, "finalizing");
        await LoadTours();
    }
    private async Task OnArchChange(Tour tour)
    {
        tour.IsArchived = !tour.IsArchived;
        await dataSvc.EditTourProps(tour, "archive");
        await LoadTours();
    }
    async Task OnDelete(Tour tour)
    {
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", $"Delete tour '{tour.Name}'");
        if (confirmed)
        {
            await dataSvc.DeleteTour(tour);
            await LoadTours();
        }
    }
    protected override async Task OnInitializedAsync()
    {
        tcGlobal.Title = "Tour List";
        tcGlobal.Tour = null;
        await LoadTours();
    }
    private IEnumerable<Tour> GetTours()
    {
        var res = tours?.Tours ?? new Tour[0] ;
        if (!ShowArchived) res = res.Where(t => !t.IsArchived);
        return res;
    }
    private async Task LoadTours()
    {
        tours = await dataSvc.GetTourList(async () =>
        {
            tours = await dataSvc.GetTourList(() => Task.CompletedTask);
            StateHasChanged();
        });
    }

}
