.cool-header {
    color: red;
    background-color: #ffecb3;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: .05em;
    text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2);
}}
