@using TCalc.Domain
<h3>TourSpendingsComponent</h3>


<TableTemplate Items=@(Tour?.Spendings ?? new List<Spending>()) Context="spending">
    <TableHeader>
        <th>Description</th>
        <th>From</th>
        <th>Amount</th>
        <th>ToAll</th>
        <th>Recepients</th>
    </TableHeader>
    <RowTemplate>
        <td>@spending.Description</td>
        <td>@spending.FromGuid</td>
        <td>@spending.AmountInCents</td>
        <td>@spending.ToAll</td>
        <td>Recepients</td>
    </RowTemplate>
</TableTemplate>

@code {
    [Parameter]
    public Tour? Tour { get; set; } = null;
}
