@page "/tour/{tourId}"
@using TCBlazor.Client.Utils
@using TCalc.Domain
@inject HttpClient Http
@inject TCBlazor.Client.Storage.TourcalcLocalStorage ts


<h3>Tour @TourId</h3>
Tour with id @TourId
@if (Tour == null)
{
    <span>Tour loading...</span>
}
else
{
    <div>
<!--Persons-->
Persons
<TourPersonsComponent Tour=@Tour/>

<!--Spendings-->
Spendings
<TourSpendingsComponent Tour=@Tour/>

    </div>
}

@code {
    [Parameter]
    public string? TourId { get; set; }

    public Tour? Tour = null;
    protected override async Task OnInitializedAsync()
    {
        var token = await ts.Get("__tc_token");
        Tour = await Http.GetFromJsonWithAuthToken<Tour>($"/api/Tour/{TourId}/suggested", token);
    }
}
