@page "/tour/{tourId}"
@using TCBlazor.Client.Storage;
@using TCalcCore.Network
@using TCalcCore.UI

@inject IJSRuntime JsRuntime
@inject TCGlobal tcGlobal
@inject TCDataService dataSvc
@inject NavigationManager NavManager
@inject TCDataSyncService dataSync

@if (tour == null)
{
    <span>Tour loading...</span>
}
else
{
    <PageTitle>@tour.Name</PageTitle>
<h3>@tour.Name 
    <Button @onclick=@(() => ShowStatistics = !ShowStatistics)>@($"{(ShowStatistics ? "hide" : "show")}") stats</Button>
    </h3>     
@if (ShowStatistics)
{
        <TourStaistics Tour=@tour/>
}
    <TableTemplate Items=@(new string[1]) TopPadding="0">
        <TableHeader>
            <th>
                <a href=@GetHref("persons")>Persons</a>
                <a href=@GetHref("spendings")>Spendings</a>
                <Button Type="primary" Size="small" Danger=@true @onclick=@(() => NavManager.NavigateTo($"/tour/{tour?.Id}/spending/add/"))>SPEND</Button>
            </th>
        </TableHeader>
        <RowTemplate>
            <td>
                <!--Persons-->
                <b id=@GetId("persons")>Persons</b>
                <TourPersonsComponent 
                    Tour=@tour
                    OnPersonDelete=@(async (p) => {
                        await dataSvc.DeletePerson(tour.Id, p, OnFreshTourLoaded);
                        await LoadTour();
                        StateHasChanged();
                    })
                    OnPersonEdit=@(async (p) => {
                        await dataSvc.EditPerson(tour.Id, p, OnFreshTourLoaded);
                        await LoadTour();
                        StateHasChanged();
                    })
                    OnPersonAdd=@(async (p) => {
                        await dataSvc.AddPerson(tour.Id, p, OnFreshTourLoaded);
                        await LoadTour();
                        StateHasChanged();
                    })
                    />
                <!--Spendings-->
                <b id=@GetId("spendings")>Spendings</b>
                <TourSpendingsComponent 
                    Tour=@tour
                    ShowPlanned=@ShowPlannedSpendings
                    OnToggleShowPlanned=@(() => {
                        // TODO works slow. Think about it
                        ShowPlannedSpendings = !ShowPlannedSpendings;
                        StateHasChanged();
                    })
                    OnSpendingDelete=@(async (s) => {
                        await dataSvc.DeleteSpending(tour.Id, s, OnFreshTourLoaded);
                        await LoadTour();
                        StateHasChanged();
                    })
                >
                    <EditActionTemplate Context="s">
                            @if (s.Planned)
                            {
                                <b style="font-size: x-large; cursor:pointer;" @onclick=@(async () => {
                                    bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", $"Add planned '{s.Description}' : {s.AmountInCents}?");
                                    if (confirmed)
                                    {
                                        var ss = s.SafeClone<Spending>();
                                        ss.Type = "";
                                        await dataSvc.AddSpending(tour.Id, ss, OnFreshTourLoaded);
                                        await LoadTour();
                                        StateHasChanged();
                                    }
                                })>+</b>
                            }
                            else
                            {
                            <NavLink href=@($"/tour/{tour.Id}/spending/edit/{s.GUID}")>&nbsp; 
                                <span style="border:solid 1px black">edit</span>                    
                            </NavLink>
                            }
                    </EditActionTemplate>
                </TourSpendingsComponent>
            </td>
        </RowTemplate>

    </TableTemplate>
}
<AnchorNavigation />
@code {
    [Parameter]
    public string? TourId { get; set; }

    private bool ShowStatistics = false;
    private bool ShowPlannedSpendings = false;

    public Tour? tour = null;
    protected override void OnInitialized()
    {
        dataSync.OnTourSynced += OnFreshTourLoaded;
    }
    protected override async Task OnParametersSetAsync()
    {
        await LoadTour();
        tcGlobal.Title = $"{tour?.Name ?? "n/a"}";
        tcGlobal.Tour = tour;
        ShowPlannedSpendings = (tour?.IsFinalizing ?? false);
    }
    private async Task LoadTour()
    {
        tour = await dataSvc.LoadTour(TourId, OnFreshTourLoaded);
    }
    private async Task OnFreshTourLoaded()
    {
        tour = await dataSvc.LoadTour(TourId, () => { return Task.CompletedTask; });
        StateHasChanged();
    }
    string GetId(string l) => $"{l}";
    string GetHref(string l) => $"/tour/{TourId}#" + GetId(l);
}
