@page "/tour/{tourId}"
@using TCBlazor.Client.Utils
@using TCalc.Domain
@inject HttpClient Http
@inject TCBlazor.Client.Storage.TourcalcLocalStorage ts


<h3>Tour @TourId</h3>
Tour with id @TourId

@code {
    [Parameter]
    public string? TourId { get; set; }

}
