@page "/tourlist"
@using TCBlazor.Client.Utils
@using TCalc.Domain
@inject HttpClient Http
@inject TCBlazor.Client.Storage.TourcalcLocalStorage ts


<h3>TourList</h3>
@if (tours == null)
{
    <span>Tours loading...</span>
}
else
{
    <div>
    tours:
    <table>
        @foreach (var tour in tours.Tours)
       {
        <tr>
            <td><NavLink href=@($"tour/{tour.Id}")>@tour.Name</NavLink></td>
            <td>@tour.DateCreated</td>
        </tr>           
       }
    </table>
    </div>
}

@code {
    private TCalc.Domain.TourList? tours = null;

    protected override async Task OnInitializedAsync()
    {
        var token = await ts.Get("__tc_token");
        // TODO pagination, links, all the stuff
        var from = 0;
        var count = 100;
        var code = "";
        tours = await Http.GetFromJsonWithAuthToken<TourList>($"/api/tour/all/suggested?from={from}&count={count}&code={code}", token);
    }

}
