@page "/settings"

@using TCBlazor.Client.Storage
@using TCalcCore.Storage
@using TCalcCore.UI
@inject ITourcalcLocalStorage ts
<h3>UI Settings</h3>

<DynaForm Item=@settings
          OnSave=@(async (s) => {
                    await ts.SetUISettings(s);
                })
/>

@code {
    private UISettings settings = new UISettings();
    protected override async Task OnInitializedAsync()
    {
        settings = await ts.GetUISettings();
    }
}
