@page "/settings"
@using TCalcCore.Engine
@inject TourcalcEngine engine

@inject IJSRuntime JsRuntime

<h3>UI Settings</h3>

<Button @onclick=@(() => JsRuntime.InvokeVoidAsync("window.manualCheckRegistration"))>Check Update</Button>

<DynaForm Item=@settings
          OnSave=@(async (s) => {
                    await engine.SetUISettings(s);
                })
/>

@code {
    private UISettings settings = new UISettings();
    protected override async Task OnInitializedAsync()
    {
        settings = await engine.GetUISettings();
    }
}
